*{
    margin:0;
    padding: 0;
}


.left{
    width:30vw;

}
.right{
    width:75vw;
}

.home ul li{
    display:flex;
    gap:15px;
    width:14px;
    list-style: none;
    padding-top:14px;
    font-weight: bold;
}

.invert{
    filter:invert(1);
}
.heading{
    display:flex;
    gap:15px;
    width:100%;
    padding-top:14px;
    padding:23px 14px;
    font-weight: bold;
    align-items:center;
    font-size:13px;
}
.heading img{
    width:30px;   
}
body{
    background-color: black;
    color:white;
}
.footer{
    display:flex;
    font-size:10px;
    color:grey;
    gap:13px;
    position:absolute;
    bottom:0;
    padding:10px; 
}
.footer a{
    color:grey;
    

}
.library{
    min-height: 80vh;
}
.header{
    display:flex;
    justify-content:space-between;
    background-color: rgb(34 34 34);
}
.header > *{
    padding:20px;
    
}
.right{
    margin:16px 0;
    position:relative;
}
.sppotify-playlist{
    padding:16px;

}
.cardcontainer{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin:30px;
}

.card img{
    width:20%;
    object-fit:contain;
}
.card>*{
    padding:top;
}
.image-container {
    width: 200px; 
    height: 200px;
    overflow: hidden;
    border-radius: 50%; 
    border: 2px solid #ccc; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .image-container img {
    width: 100%; 
    height: auto;
    display: block;
    border-radius: 50%; 
  }
 .swapnil{
    font-size:8px;
    font-family: monospace;
    color:#ccc
}
.play-button2{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
    position:absolute;

  }
  .play-button2 svg {
    width: 100%;
    height: 100%;
    fill: #FFF; 
  }
  .play-button2 path {
    fill: #FFF; 
  }
.buttons > *{
    margin:0 12px;
}
.signupbtn{
    background-color: rgb(34 34 34);
    color: rgb(156, 143, 143);
    font-weight:bold ;
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size:17px  ;
    color:white;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color:black;
    font-weight: bold;
    padding:10px;
    width:79px;
    cursor:pointer;
    font-size: 16px;
}
.loginbtn:hover{
    background-color: white;
    border-radius: 21px;
    color:black;
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position:absolute;
    bottom:0;
    background-color: rgb(61, 102, 61);
    width:100%;
    padding:12px;
}
.songbutton{
    display:flex;
    justify-content:center;
    gap:16px;
}

.song {
    margin: 10px 0;
    cursor: pointer;
}
.song:hover {
    text-decoration: underline;
}


  





